<% @properties.each do |p| %>

<div class='card'>
  <p id='card-title' style='background-color:<%=p.color%>;'><a href='/properties/<%= p.id %>'><%= p.name %></a></p>
  <% if p.owned %>
  <strong><p>Owner: <%=p.player.name%></p></strong>

  <% unless p.color == 'Utility' || p.color == 'Railroad' %>
    <% if p.number_of_hotels == 0 && p.number_of_houses < 4 %>
      <p>Number of Houses: <%= p.number_of_houses %></p>
      <a class='card-btn' href='/properties/<%= p.id %>/build_house'>Build House</a>
    <% elsif p.number_of_houses == 4 %>
      <p>Number of Houses: <%= p.number_of_houses %></p>
      <a class='card-btn' href='/properties/<%= p.id %>/build_hotel'>Build Hotel</a>
    <% end %>
  <% end %>
  
  <% unless p.color == 'Utility' %>
     <% if p.number_of_houses == 0 && p.number_of_hotels == 0 %>
     <p>Current Rent: <%= number_to_currency(p.rent, precision: 0) %></p>
   <% elsif p.number_of_houses == 1 %>
     <p>Current Rent: <%= number_to_currency(p.rent_1, precision: 0) %></p>
   <% elsif p.number_of_houses == 2 %>
     <p>Current Rent: <%= number_to_currency(p.rent_2, precision: 0) %></p>
   <% elsif p.number_of_houses == 3 %>
     <p>Current Rent: <%= number_to_currency(p.rent_3, precision: 0) %></p>
   <% elsif p.number_of_houses == 4 %>
     <p>Current Rent: <%= number_to_currency(p.rent_4, precision: 0) %></p>
   <% elsif p.number_of_hotels == 1 %>
     <p>Hotel Rent: <%= number_to_currency(p.rent_hotel, precision: 0) %></p>
   <% end %>
   <a class='card-btn' href="/properties/<%= p.id %>/pay_rent">Pay Rent</a>
  <% end %>



 <% else %>
  <strong><p>Property Price: <%= number_to_currency(p.property_price, precision: 0) %></p></strong>
  <a class='card-btn' href='/properties/<%= p.id %>/buy_property'>Buy Me!</a><br>
 <% end %>

</div>

<% end %>
